.movieDetails_container {
    color: white;
    background-color: #1e1e1e;
}

.img_bg_wrapper{
    background-color: black;
}

.geners_container {
    display: flex;
}

.info_container {
    font-weight: 500;
    display: flex;
    flex-direction: column;

}

.movie_title {
    margin-bottom: 1px;
    margin-top: 0;
    padding-top: 12px;
    letter-spacing: -0.14px;
}

.side_data_container {
    display: flex;
    position: relative;
    bottom: 154px;
    padding-left: 5vw;
}
.sub_data{
    display: flex;
    flex-direction: column;
    padding-right: 6vw;
}

.imgs_container {
    position: relative;
}

.img_bg {
    width: 100%;
    height: 700px;
    
}

.img_card_wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
}

.img_card {
    height: 360px
}

.overview_txt {
    background: transparent;
    /* position: absolute; */
    width: 50%;
    top: 20%;
    padding-left: 5vw;
    padding-top:60px
}

.main_details {
    background: transparent;
    position: absolute;
    width: 50%;
    padding-left: 20px;
    padding-top: 60px;
}

.trailers_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rec_container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 3% 0;
    margin-bottom: 3%;
}

.cast_container {
    display: flex;
    margin: 25px 1px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
    padding-left: 5vw;
}

.ml_title {
    padding: 30px;
}
.md_date_time_wrapper{
  
    display: flex;

}
.movie_tagline{
    margin: 2vw 0;
}
.img_star{
padding-left: 0.5vw;
}
.desc_tit{
    font-weight: bold;
    letter-spacing: -0.11px;
    display: flex;
align-items: center;
color:white;   
justify-content: space-between;
width: 95%; 
font-size: 1.1em;
}



    .desc_tit{
        width:97%;
    }
    .overview_wrapper{
        background-color: black;
    }
    .sub_tit{
        
    color: #ffffff;
    opacity: 0.7;
    line-height: 1.56;
    }

    .md_movie_img{
        width: 133px;
        height: 200px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .img_card_wrapper{
        border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: static;
    }
 
    .md_img_data{
        width:100%
    }
    .img_bg{
        background-color: black;
        margin-top: 65px;
    height: 403px;
    width: 100%;
    object-fit: cover;
    }
    .main_details{
        width: 100%;
    padding-top: 60px;
    height: 168px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
    position: relative;
    bottom: 172px;
    padding-left: 5vw;

    }
    .md_youtube{
        width: 90%;
    border: none;
    height: auto;
    margin-bottom: 15px;
    border-radius: 2px;
    }
    .cast_container {
     margin-top:0;
    }
 

    .ml_title{
        padding: 13px;
    margin-bottom: 0;
    }
    /* .geners_container {
    } */
    /* .md_date_time_wrapper{
       
    } */
    .overview_txt{
        width: 91%;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 0;
        position: relative;
        bottom: 17vh;
        
    }
    
    .info_container {
        font-size: 0.9em;
        line-height: 1.56;
       
    }
    .movie_title{
        padding-bottom: 6px;
    }
    .languages{
        display:flex;
    }
    .top_details{
        display: flex;
    flex-direction: row;
    align-items: center;
    }
    
    

@media screen and (max-width: 365px) {
    .info_container{
        font-size: 4vw;
    
    }
}