.movieDetails_container {
    color: white;
    background-color: #1e1e1e;
}

.img_bg_wrapper{
    background-color: black;
    position: relative;
}

.geners_container {
    display: flex;
}


.movie_title {
    font-size: 1.5em;
    padding-bottom: 6px;
    margin-bottom: 1px;
    margin-top: 0;
    padding-top: 12px;
    letter-spacing: -0.14px;
}


.side_data_container {
    display: flex;
    padding-left: 5vw;
    padding-top: 4vh;
}
.sub_data{
    display: flex;
    flex-direction: column;
    padding-right: 6vw;
}

.imgs_container {
   background-color: black;
}



.img_card_wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
}

.img_card {
    height: 360px
}

.trailers_container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.rec_container {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 3% 0;
    margin-bottom: 3%;
}

.cast_container {
    display: flex;
   margin: 0;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 30px;
    padding-left: 5vw;
}

.ml_title {
    padding: 30px;
}
.md_date_time_wrapper{
  
    display: flex;

}
.movie_tagline{
        margin: 0;
    margin-bottom: 1vw;
}
.img_star{
padding-left: 0.5vw;
}
.desc_tit{
    font-weight: bold;
    letter-spacing: -0.11px;
    display: flex;
align-items: center;
color:white;   
justify-content: space-between;
width: 95%; 
font-size: 1.1em;
}



    .desc_tit{
        width:97%;
    }
    .overview_wrapper{
        background-color: black;
        padding-bottom: 3vh;
    }
    .sub_tit{
        
    color: #ffffff;
    opacity: 0.7;
    line-height: 1.56;
    }

    .md_movie_img{
        width: 133px;
        height: 200px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .img_card_wrapper{
        border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: static;
    }
 
    .md_img_data{
        width:100%
    }
    .img_bg{
    background-color: black;
    margin-top: 65px;
    height: 50vw;
    width: 100%;
    object-fit: cover;
    }
    .main_details{
        width: 100%;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), #000000);
        position: absolute;
        bottom: 0;
        padding-left: 5vw;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

    }
    .md_youtube{
        width: 90%;
    border: none;
    height: auto;
    margin-bottom: 15px;
    border-radius: 2px;
    }
 
 

    .ml_title{
        padding: 13px;
    margin-bottom: 0;
    }

    .overview_txt{
        background: transparent;
        padding-left: 5vw;
        width: 91%;
        display: -webkit-box;
        -webkit-line-clamp: 12;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    
    .info_container {
        font-size: 0.9em;
        line-height: 1.56;
        font-weight: 500;
    }
   
    .languages{
        display:flex;
    }
    .top_details{
        display: flex;
    flex-direction: row;
    }
    .html5-video-player{
    direction: ltr;
    }
    
    

@media screen and (max-width: 365px) {
    .info_container{
        font-size: 4vw;
    
    }
}
@media screen and (max-width: 335px) {
   .side_data_container{
       font-size:0.8em;
   }
}
@media screen and (max-width: 600px) {
    .movie_title{
        font-size: 1em;
        width:95%;
    }
    .img_bg{
        height: 350px;
    }
    .splitLines{
        flex-direction: column;
    }
   
}