.movies_container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 5vw;
    height: fit-content;
}
.more_like_wrapper{
    padding-bottom: 3vw;
    margin-bottom: 3vw;
}

.movie_item {
    margin-right: 15px;
    cursor: pointer;
    position: relative;
    width: min-content;
}



.img_add_wl {
    position: relative;
    top: 44px;
}

