.container_form{
    position: relative;
    text-align: center;
    padding: 25px;
}


.user_input{
    height: 55px;
 
    border-top-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border: none;
    padding: 9px;
    width: 60vw;
}
.input_btn{
    width: 55px;
    height: 55px;
    border-radius: 2px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    right: 2px;
    border: none;
    top: 5px;
    background: #f5c518;
}


.bg_img_txt{
    margin-bottom: 50px;
    margin-left: 27px;
    font-weight: bold;
    font-size: 2em;
    width: 520px;
    color:#f4f4f4;
}
.input_wrapper{
    height:50vw;
    width: 100%;
    margin:0 auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;    
    background-image: url('../../assets/imgs/theatre.jpg');
    background-size: cover;
    background-position: top;
}
@media screen and (max-width: 1000px) {
.input_wrapper{
    height:500px
}
}
@media screen and (max-width: 600px) {
    .input_wrapper{
        background-image: url('../../assets/imgs/newBg@2x.png');
        background-size: cover;
        background-position: top;
    }
   .user_input{
    width: 70%;
   }

   .container_form{
    padding-top: 25px;
    padding-bottom: 30px;
   }
   .bg_img_txt{
       font-size: 1.8em;
       margin-bottom: 32px;
       margin-left: 15px;
       width:auto
   }
  }
  @media screen and (max-width: 320px) {
    .bg_img_txt{
        font-size: 2.2em;
    }
  }
  @media screen and (max-width: 383px) {
    .input_btn{
        top:0;
    }
    .input_wrapper{
        margin:0 auto;
        background-image: url('../../assets/imgs/newBg.png');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column-reverse;
        height: 550px;
        
    }
    .bg_img_txt{
        font-size: 1.5em;
        width: 90%;
        padding:0 5%;
        letter-spacing: -0.14px;
        color: #fffdf8;
        margin-left: 0;
        margin-bottom: 0;
    }
    .bg_txt_wrapper{
        width: 100%;
        margin: 0 5%;
    }
    .container_form {
        position: relative;
        text-align: center;
        padding: 25px 0;
        width: 100%;
    }
    .input_field{
        display: flex;
    justify-content: center;
    margin: 0px 5%;
    }


  }