
    .container_form {
        padding: 25px 5vw;
    }



.user_input{
    height: 55px;
    width: calc(100% - 55px);
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: none;
    padding-left: 4vh;
    font-size: 1.1em;
}
.input_btn{
    width: 55px;
    height: 55px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    position: relative;
    border: none;
    background: #f5c518;
    display: flex;
    justify-content: center;
    align-items: center;
}


.bg_img_txt{
    font-weight: bold;
    font-size: 2em;
    width: 520px;
    color:#f4f4f4;
}
.input_wrapper{
    height:50vw;
    width: 100%;
    margin:0 auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;    
    background-image: url('../../assets/imgs/theatre.jpg');
    background-size: cover;
    background-position: bottom;
}
.input_field{
    display: flex;
}
.bg_txt_wrapper{
    width: 100%;
    padding-left: 5vw;
}
@media screen and (max-width: 1000px) {
.input_wrapper{
    height:500px
}
}
@media screen and (max-width: 600px) {

    .bg_img_txt{
        font-size: 1.5em;
        width: 85%;
        color: #fffdf8;
        margin-left: 0;
        margin-bottom: 0;
    }
 
    .input_wrapper{
        background-image: url('../../assets/imgs/newBg@2x.png');
        background-size: cover;
        background-position: top;
    }
   .user_input{
    width: 82vw;
   }

  }

 
  @media screen and (max-width: 383px) {
   
    .input_wrapper{
        margin:0 auto;
        background-image: url('../../assets/imgs/newBg.png');
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column-reverse;
        height: 550px;
        
    }


  
 


  }