.empty_wl{
    margin-top: 15vh;
     text-align: center; 
     font-size:1.25em;
     height:53vh;
     font-weight: bold;
}

@media screen and  (max-width:600px){
    .empty_wl{
        font-size:1em
    }
}