
.wl_page{
    min-height: calc(100vh - 16.5rem);
    margin-top: 3.5rem;
}
.empty_wl{
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    padding-top: 9vh;
}

@media screen and  (max-width:600px){
    .empty_wl{
        font-size:1rem
    }
}