.navbar {
  width: 100%;
  display: block;
  z-index: 1;
  transition: top 0.3s;
  position: fixed;
  top:0;    
} 


  .yellow_nav{
    display: flex;
    position: fixed;
    height:3.45rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index:1;
  }
  
  .black_star{
    margin-top: 9px;
    display: none;
  }


.logo_app {
    width: 40px;
    height: 40px;
}
.menu{
    display: none;
}

.main_nav {
    text-align: left;
    position: fixed;
    top: 3.5vh; 
    right: 10.5vh;
    transition: top 0.3s;
}
.main_nav_item {
  display: inline-block;
  color: white;
  padding-bottom: 10vw;
}
.logo_img {
  height: 2.5vh;
  min-height: 13px;
  position: absolute;
  left: 10.5vh;
  top: 21px;
  z-index: 1;
}
   

.item_name {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.35em;
  padding-right: 9vh;  
}


.main_nav_items {
    right: 6vw;
    z-index: 1;
    margin: -5px;
    padding: 0;
    list-style: none;
    position: absolute;
    top:19px;
    display: block;
}
.menu_btn{
  display: none;
}
@media screen and (max-width: 750px) {
  .item_name {
    padding-right: 3vw;
}
.main_nav_items{
   right:2vw;
}
}

@media screen and (max-width: 600px) {
  .main_nav {
    right: 0;
}
 
  .yellow_nav{
    height:55px;
  }
  .navbar a {
    font-size:1.5em
  }
  .item_name{
    font-size: 1.5em;
    padding-right:0;
  }

  .menu_btn{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    height: 6vh;
    cursor: pointer;
  }
    .in_menu_star{

      top: 10vh;
    }
    .in_menu_close{
      bottom: 15vh;
    }
    .logo_img{
        width: 30vw;
        height: 3vh;
        left: 4.5vw;
    }
    
    .menu{
      display: block;
      position: absolute;
      right: 4.5vw;
      top: 19px;
      height: 3vh;
      cursor: pointer;
      z-index: 1;
    }

    .width_nav{
      display: flex;
      width: 102%;
      height: 110vh;
      background: rgb(0, 0, 0,0.9);
      justify-content: center;
      flex-direction: column;
      align-items: center;
      left: 0;
      top: 0;
      z-index: 2;
      position: fixed;
      list-style: none;
    }
    #menu{
      transition: opacity 500ms;
      visibility: hidden;
      opacity: 0;
    }

}


@media screen and (max-width: 450px) {
    .logo_img {
      width: 38vw;
        }
        
    
}
@media screen and (max-width: 383px) {
    .logo_img {
      width: 42vw;
      min-width: 130px;
        }
        
    
}