
#navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.5rem;
  position: fixed;
  width: 100%;
  z-index:1;
  top:0;
  transition: top 0.3s;
}
.black_star,.menu,.in_menu_close,.in_menu_star,.black_icon.menu_btn{
  display:none
}

.main_nav_items{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main_nav_item a {
  padding-right: 4.5vw;
  font-size: 1.5rem;
  color: white;
}

.yellow_icon,
.black_icon{
  padding-left: 4.5vw;
}
.yellow_icon a img{
  width: 10rem;
}
.black_icon a img{
  width: 10rem;
}
.black_star{
  display: none;
}

@media screen and (max-width: 40rem) {
  .in_menu_star,.in_menu_close{
    display: block;
  }
  .main_nav_items{
   display:none
  }
  .menu{
    display: block;
    height: 1.2rem;
    padding-right: 4.5vw;
    cursor: pointer;
  }
  .black_star{
   cursor: pointer;
  }
  #menu{
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .width_nav{
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0,0.9);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    left: 0;
    top: 0;
    z-index: 2;
    position: fixed;
  }
  .main_nav_item  {
      padding-bottom:13vw;
    }
  .main_nav_item a {
    padding-right:0;
  }
  .menu_btn_star{
    position: absolute;
    top: 5vh;
    height: 2rem;
    margin: auto;
    right: 0;
    left: 0;
  }
  .menu_btn_close{
    position: absolute;
    bottom: 5vh;
    height: 2rem;
    margin: auto;
    right: 0;
    left: 0;
  }
  
}