body {
    /* font-family: 'Roboto Condensed', sans-serif; */
    background-color: #3e3e3e;
    color: white;
}
@font-face {
    font-family: Futura;
    src: local(Futura-Bold),
      url(/path/to/Futura-Bold.woff2) format("woff2"),
      url(/path/to/Futura-Bold.woff) format("woff"),
      url(/path/to/Futura-Bold.ttf) format("truetype");
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
  }
  @font-face {
    font-family: HelveticaNeue;
    src: local(HelveticaNeue-Medium),
      url(/path/to/HelveticaNeue-Medium.woff2) format("woff2"),
      url(/path/to/HelveticaNeue-Medium.woff) format("woff"),
      url(/path/to/HelveticaNeue-Medium.ttf) format("truetype");
    /* font-weight: 500;
    font-style: normal;
    font-stretch: normal; */
  }
a{
    text-decoration: none;
}

h1 {
    margin: 0
}

* {
    box-sizing: border-box;
}
.dark_txt{
color:black
}
.bright_txt{
    color:white
}
.bright_shadow{
    box-shadow: 1px 1px 3px 0px black;
}
.suc_msg{
    background: #5fb662;
    width: 350px;
    padding: 20px;
    border-radius: 5px;
    position: fixed;
    right: 10px;
    z-index: 1;
    line-height: 1.4;
    display: flex;
    align-items: center;
}
.msg_check_img{
    height: 26px;
    width: 28px;
    margin-right: 13px;
}
.suc_msg_wrapper{
    display: flex;
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #f5c518;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
