.aboutus_container{
    text-align: left;
    padding: 10px;
}
.aboutus_content{
    line-height: 1.5;
    width:65%;
}
.about_title{
    padding-bottom: 15px;
    margin-top: 70px;

}
@media screen and (max-width: 750px) {
    .aboutus_content{
        width:90%;
    }
    }