

.sub_title {
    width: 100%;
    padding-left: 5vw;
    padding-top: 4vh;
    padding-bottom: 2vh;
    margin: 0;
}

.loader {
    
    margin: 80px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    border-right: 16px solid #f5c518;
    border-bottom: 16px solid #f5c518;
    border-left: 16px solid #f5c518;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.rv_no_history{
    padding-left: 5vw;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@media screen and (max-width: 600px) {
.share_title{
    padding: 5vh 2vh;
    font-size: 4.5vh;
}
.star_foot{
    height: 4vh;
}
}
@media screen and (max-width: 383px) {
    .sub_title {
        font-size: 1.1em;
        
    }
  
}