.bright_bg{
    background-color: #dcdcdc;
}
.dark_bg{
    background-color:#7a7a7a

    ;
}
.sub_title {
    width: 100%;
    padding: 2vw;
    padding-left: 5vw;
    display: flex;
    justify-content: flex-start;
    padding-top: 5vh;
    padding-bottom: 3vh;
    font-size: 1.5em;
}

/* .light {
    background-color: #7a7a7a;
} */

.loader {
    
    margin: 80px auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid black;
    border-right: 16px solid #f5c518;
    border-bottom: 16px solid #f5c518;
    border-left: 16px solid #f5c518;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
.share_title{
    text-align: center;
    background: #222222;
    padding: 10px;
    color: white;
}
.share_wrapper{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222222;
    padding: 20px;
}

.rv_no_history{
    padding-left: 13px;
    text-align: center;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media screen and (max-width: 383px) {
    .sub_title {
        font-size: 1.1em;
    }
}